include="~~/profiles.conf"

# ==========    GENERAL    ==========

autofit=75%x75%
force-seekable=yes
keep-open=no                                   # Make sure playing exe file gets closed after the watchtime is over
reset-on-next-file=pause
msg-color=yes                                 	# Add color to console output when outputting to terminal
msg-module=yes
image-display-duration=inf		              	# No autoplay for images
hr-seek=yes                                   	# Enable when precise seeks are possible, seeks will not be limited by keyframes
vd-lavc-fast=yes
input-default-bindings=no
autocreate-playlist=filter

# ==========    Video Profile    ==========
vo=gpu-next                                   	# Video output driver uses libplacebo for rendering. Supports almost all the same features as --vo=gpu
                                              	# Faster, better quality, can tonemap DV (P5), HDR10, HDR -> SDR. Still experimental though, with some bugs
hwdec=auto-safe
profile=Balanced
gpu-api=d3d11
# gpu-api=vulkan                              	# Use vulkan if OS is Linux
deinterlace=auto

# ==========    CACHE & STREAMING    ==========
cache=auto                                    	# Enable cache useful when playing back previous data over the network
demuxer-max-bytes=1GiB                        	# Limit the data size allowed by the demuxer to read ahead
demuxer-readahead-secs=300                    	# Limit the time allowed for demuxer read-ahead
demuxer-max-back-bytes=500MiB                 	# Limit the size of data the read-through demuxer can retain
ytdl-format=bestvideo+bestaudio/best          	# Param selects the source of youtube-dl
load-unsafe-playlists=yes
ytdl-raw-options=sub-lang="vi.*,en.*",compat-options="prefer-vp9-sort"

# ==========    DEBANDING    ==========

deband=no                                     	# Should only be enabled when the video has banding. (Keybind=h)
deband-iterations=1                           	# https://mpv.io/manual/stable/#options-deband-iterations
deband-threshold=64                           	# https://mpv.io/manual/stable/#options-deband-threshold
deband-range=32									# https://mpv.io/manual/stable/#options-deband-threshold
deband-grain=32                               	# https://mpv.io/manual/stable/#options-deband-grain

# ==========    ON SCREEN DISPLAY AND ON SCREEN CONTROLLER    ==========

osd-bar=no                                    	# Use UOSC instead of default UI
osc=no                                        	# Use UI morden-x instead of default
border=no                                     	# Turn off title bar and border and use modern X instead
cursor-autohide=100                           	# The mouse pointer will automatically hide (in ms)
osd-level=1                                   	# https://mpv.io/manual/stable/#options-osd-level
osd-duration=1000                             	# OSD messages appearance time in ms
                                              	# https://mpv.io/manual/stable/#options-hr-seek
# Customize the style of OSD messages
osd-font="Open Sans"
osd-font-size=36
osd-border-size=2.4
osd-shadow-offset=0.75
osd-bold=yes

# ==========    LANGUAGE PRIORITY    ==========

track-auto-selection=yes
alang=ja,jp,jpn,vi,vie,en,eng                 	# Audio language precedence order
slang=vi,vie                                  	# Language priority order of subtitles

# ==========    AUDIO    ==========

volume=100                                    	# Default volume
audio-file-auto=fuzzy                         	# Load an external audio source with a name similar to the video
volume-max=200                                	# Maximum allowed capacity. Over 100 mpv will boost the volume from the video which may cause loss of sound quality.
audio-pitch-correction=yes                    	# automatically insert scaletempo when playing at higher speeds

# ==========    SUBTITLES    ==========

demuxer-mkv-subtitle-preroll=yes              	# https://mpv.io/manual/stable/#options-mkv-subtitle-preroll
sub-fix-timing=no                             	# Do not try to fix gaps (which might make it worse in some cases).
sub-auto=fuzzy                                	# Load external subtitles with names similar to the video
sub-file-paths-append=ass
sub-file-paths-append=srt
sub-file-paths-append=pgs
sub-file-paths-append=vob
sub-file-paths-append=sub
sub-file-paths-append=sup
sub-file-paths-append=subs
sub-file-paths-append=subtitles
# The following options apply to subtitles formats that do not have their own style (e.g. SRT, VTT...)
# This is my favorite style, you can adjust the style to your own taste.
sub-font='Open Sans'
sub-font-size=40
sub-color='#FFFFFFFF'
sub-border-color="#FF000000"
sub-shadow-color=0.0/0.0/0.0/0.70
sub-border-size=2.0
sub-shadow-offset=0.75
sub-spacing=0.0
sub-bold=yes						     
sub-use-margins=no
sub-gauss=0.05                         

# ==========    SCREENSHOT    ==========

screenshot-format=png                         	# Screenshot format
screenshot-high-bit-depth=no                  	# Bitdepth is the same as video.
screenshot-tag-colorspace=no                  	# Tonemap screenshot
screenshot-png-compression=6                  	# PNG compression ratio (1-9)
                                              	# Higher values ​​compress better but take more processing time.           
screenshot-dir="~/Pictures/mpv"             	# Folder containing screenshots
screenshot-template="%{?demuxer-via-network==yes:${media-title}%{?demuxer-via-network==yes:_${filename/no-ext}%{!demuxer-via-network==yes:${filename}-%wH.%wM.%wS.%wT-#%#00n" # Name format (filename-hour-minute-second-milisecond-number)

# ==========    INTERPOLATION    ==========

# Filter option for temporal axis interpolation (frames).
tscale=oversample
